@font-face {
    font-family: 'Franklin';
    src: url('../fonts/FRABK.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	padding: 0;
	font-family: "Franklin";
}

#banner{
	color: #FFFFFF;
	background-color: #005883;
	padding: 10;
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	text-align: center;
	font-size: 2em;
}

#banner1{
	margin: 0;
}

#banner2{
	margin: 0;
}

#saludo{
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	font-size: 1em;
}

#conceptos, #caracteristicas, #normas{
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	font-size: 1em;
}

#titulo_conceptos, #titulo_normas{
	margin: 0;
	color: #005883;
}

#titulo_caracteristicas{
	margin: 0;
	color: #005883;
}

#definicion_conceptos, #definicion_caracteristicas, #definicion_normas{
	margin-top: 10;
}

#seguir_leyendo{
	color: #005883;
}

#img_conceptos, #img_normas{
	width: 300;
	margin-right: 30;
	margin-left: 30;
}

#img_caracteristicas{
	margin-right: 30;
	margin-left: 0;
	width: 350;
}

#piepagina{
	color: #FFFFFF;
	background-color: #000000;
	padding: 20;
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	text-align: left;
	width: 1250;
	height: 80;
}

#img_logo_unad{
	margin: 0;
	margin-right: 200;
}

#creadores{
	font-size: 1em;
}