@font-face {
    font-family: 'cartoon';
    src: url('../fonts/sf_cartoonist_hand-webfont.woff2') format('woff2'),
         url('../fonts/sf_cartoonist_hand-webfont.woff') format('woff'),
         url('../fonts/SF_Cartoonist_Hand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
	margin: 0;
	padding: 0;
	font-family: "cartoon", Helvetica;
}

#banner{
	color: #FFFFFF;
	background-color: #134F5C;
	padding: 10;
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	text-align: center;
	font-size: 2em;
}

#banner1{
	margin: 0;
}

#banner2{
	margin: 0;
}

#saludo{
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	font-size: 20;
}

#conceptos{
	margin-right: 30;
	margin-left: 30;
	font-size: 20;
}

#titulo_conceptos{
	margin: 0;
	color: #134F5C;

}

#definicion_conceptos{
	margin: 0;
}

#seguir_leyendo{
	color: #134F5C;
}

#img_conceptos{
	width: 400;
	margin-right: 30;
	margin-left: 30;
}

#piepagina{
	background-color: #134F5C;
	padding: 10;
	margin: 30;
	margin-right: 30;
	margin-left: 30;
	text-align: left;
}